# Ensure line endings are LF on all systems for JSON files
*.json text eol=lf

# Same for other text files
*.md text eol=lf
*.js text eol=lf
*.ps1 text eol=crlf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
