name: expandtesting
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Step 1 Install node-gyp
        run: npm install -g node-gyp   

      - name: Step 2 Install Hoppscotch CLI
        run: npm i -g @hoppscotch/cli

      - name: Step 3 Ensure reports directory exists
        run: mkdir -p reports

      - name: Step 4 Install project dependencies
        run: npm install

      - name: Step 5 Run tests and generate reports
        run: npm test

      - name: Step 6 Upload test reports (XML + HTML)
        uses: actions/upload-artifact@v4
        with:
          name: hoppscotch-test-reports
          path: |
            reports/report.xml
            reports/report.html
          retention-days: 30